<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bro | Home</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="header">
        <input type="text" id="search-field" placeholder="Digite o nome ou usuario de alguem...">
        <button id="search" type="button" onclick="search()">Search</button>

        <h1>Bro</h1>
        <img id="user-icon" src="{{user.photo}}" alt="{{user.user}}" onerror="this.src='/assets/padrao.png'">

    </div>

    <div class="users">
        {%for user in users%}
        <div class="user">
            <img src="{{user.photo}}" alt="{{user.user}}" onerror="this.src='/assets/padrao.png'" class="user-photo">
            <div>
                <h2>{{user.name}}</h2>
                <h4>@{{user.user}}</h4>
            </div>
        </div>
        <hr>
        {%endfor%}
    </div>
    <script src="/scripts/home.js"></script>
</body>

</html>