<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bro | Home</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css"> 
</head>

<body>
    <input id="keep-user" type="text" hidden value="{{user.name}}, {{user.user}}, {{user.photo}}, {{user.status}}">
    <form action="search" method="post">
        <div class="header">
            <input type="text" id="search-field" name="data" placeholder="Digite o nome ou usuario de alguem...">
            <button id="search" type="submit" onclick="search()">Search</button>
            <h1 id="title">Bro</h1>
            <a href="/user"><img id="user-icon" onclick="showInfo()" src="{{user.photo}}" alt="{{user.user}}" onerror="this.src='/assets/padrao.png'"></a>
        </div>
    </form>

    <div class="users">
        {%for user in users%}
        <div class="user">
            <img src="{{user.photo}}" alt="{{user.user}}" onerror="this.src='/assets/padrao.png'" class="user-photo">
            <div>
                <h2>{{user.name}}</h2>
                <h4>@{{user.user}}</h4>
                <h5>"{{user.status}}"</h5>
            </div>
        </div>
        <hr>
        {%endfor%}
    </div>
    <script src="/scripts/home.js"></script>
</body>

</html>