<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bro | Home</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <input type="text" id="search" placeholder="Digite o nome ou usuario de alguem...">
    <div class="users">
        <div class="user">
            <img src="{{test.photo}}" alt="{{test.name}}">
            <h2>{{test.name}}</h2>
        </div>
    </div>
    <script src="/scripts/home.js"></script>
</body>

</html>