<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bro</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Hello, BRO!</h1>
    <form action="login" method="POST" class="show">
        <input type="text" name="user" class="user-field" placeholder="Seu apelido..." required>
        <input type="password" name="password" placeholder="Digite sua senha..." required>
        <a href="#" onclick="swift()">create account</a>
        <button>login</button>
    </form>


    <!--criar conta-->
    <form action="create-user" method="POST" class="hide">
        <input type="text" name="name" placeholder="Seu nome..." required>
        <input type="text" name="user" class="user-field" placeholder="Como seus amigos te chamam..." required>
        <input type="password" name="password" placeholder="Crie uma senha"required>
        <input type="url" name="photo" placeholder="Cole o link de uma foto...">
        <input type="text" name="status" maxlength="50" placeholder="Deixe aqui um recado...">
        <button>log up</button>
    </form>

    <script src="/scripts/main.js"></script>
</body>
</html>